# =========================
# Node
# =========================
node_modules/

# =========================
# Cypress
# =========================
UI/cypress/reports/
UI/cypress/reports/screenshots/
UI/cypress/reports/videos/
UI/cypress/fixtures/data.json

# =========================
# Mobile - Allure
# =========================
Mobile/allure-results/
Mobile/allure-report/

# =========================
# Env files
# =========================
cypress.env.json
.env

# =========================
# OS
# =========================
.DS_Store
Thumbs.db